name: DMN_TCK
on:
  push:
  pull_request:

jobs:
  Build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v5
    - name: Checkout TCK repo
      uses: actions/checkout@v5
      with:
        repository: dmn-tck/tck
        path: tmp/dmn-tck
    - name: Use Node.js
      uses: actions/setup-node@v6
      with:
        node-version: 24
        cache: 'npm'
    - name: Install dependencies
      run: npm ci
    - name: Build
      run: npm run build
    - name: Execute TCK tests
      run: npm run tck
      env:
        TCK_DIR: tmp/dmn-tck